.dashboard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
  z-index: 999;
}

button {
  height: 50px;
  width: 200px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
}

button:active {
  box-shadow: 6px 7px 8px rgba(255, 255, 255, 0.5);
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}
