.App {
  margin: 0;
  padding: 0;
  height: 98vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("https://wallpapers.com/images/file/lotr-landscape-artwork-44crsr9vijwvjrqd.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 4rem;
}
